USE [JIISdb]
GO
/****** Object:  Table [dbo].[p3_Combinations]    Script Date: 25/09/2026 00:18:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[p3_Combinations](
	[MunicipalityCode] [nvarchar](3) NOT NULL,
	[MunicipalityCode199] [nvarchar](3) NULL,
	[MunicipalityName] [nvarchar](100) NULL,
	[Tip200] [nvarchar](6) NULL,
	[Tip300] [nvarchar](6) NULL,
	[Tip3001] [nvarchar](6) NULL,
	[Tip510] [nvarchar](6) NULL,
	[Tip520] [nvarchar](6) NULL,
	[Tip600] [nvarchar](6) NULL,
	[Tip7012] [nvarchar](6) NULL,
	[Tip703] [nvarchar](6) NULL,
	[Combination] [nvarchar](4) NULL,
	[Entity] [nvarchar](255) NULL,
	[MuniacipalityNameFBiH] [nvarchar](100) NULL,
	[MunicipalityNameRS] [nvarchar](100) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[p3_Combinations] ([MunicipalityCode], [MunicipalityCode199], [MunicipalityName], [Tip200], [Tip300], [Tip3001], [Tip510], [Tip520], [Tip600], [Tip7012], [Tip703], [Combination], [Entity], [MuniacipalityNameFBiH], [MunicipalityNameRS]) VALUES (N'001', N'001', N'VELIKA KLADUŠA', N'201', NULL, N'401', N'511', NULL, NULL, N'7012', NULL, N'K01', N'A', N'VELIKA KLADUŠA', N'ВЕЛИКА КЛАДУША')
INSERT [dbo].[p3_Combinations] ([MunicipalityCode], [MunicipalityCode199], [MunicipalityName], [Tip200], [Tip300], [Tip3001], [Tip510], [Tip520], [Tip600], [Tip7012], [Tip703], [Combination], [Entity], [MuniacipalityNameFBiH], [MunicipalityNameRS]) VALUES (N'002', N'002', N'CAZIN', N'201', NULL, N'401', N'511', NULL, NULL, N'7012', NULL, N'K01', N'A', N'CAZIN', N'ЦАЗИН')
INSERT [dbo].[p3_Combinations] ([MunicipalityCode], [MunicipalityCode199], [MunicipalityName], [Tip200], [Tip300], [Tip3001], [Tip510], [Tip520], [Tip600], [Tip7012], [Tip703], [Combination], [Entity], [MuniacipalityNameFBiH], [MunicipalityNameRS]) VALUES (N'003', N'003', N'BIHAĆ', N'201', NULL, N'401', N'511', NULL, NULL, N'7012', NULL, N'K01', N'A', N'BIHAĆ', N'БИХАЋ')
GO
