USE [JIISdb]
GO
/****** Object:  Table [dbo].[p3_BagDenyReasonRelation]    Script Date: 19/09/2026 23:17:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[p3_BagDenyReasonRelation](
	[BagNumber] [nvarchar](10) NOT NULL,
	[DenyReasonID] [int] NOT NULL,
	[DeniedEnvelopes] [numeric](18, 0) NULL,
	[Comment] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[p3_Bags]    Script Date: 19/09/2026 23:17:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[p3_Bags](
	[Id] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[PollingStationCode] [nvarchar](10) NULL,
	[TypeOfPollingStationCode] [nchar](1) NULL,
	[Received] [numeric](18, 0) NULL,
	[BagStatus] [nvarchar](50) NULL,
	[PoBox] [int] NULL,
	[ShipmentNumber] [numeric](18, 0) NULL,
	[BagNo] [int] NOT NULL,
	[RegularEnvelopes] [numeric](18, 0) NULL,
	[ExpressPost] [numeric](18, 0) NULL,
	[Undelivered] [numeric](18, 0) NULL,
	[Others] [numeric](18, 0) NULL,
	[TotalReceivedEnvelopes] [numeric](18, 0) NULL,
	[DateReceived] [nvarchar](50) NULL,
	[Comment] [nvarchar](max) NULL,
	[Type] [nvarchar](50) NULL,
	[Clerk] [int] NULL,
	[DateEntered] [datetime] NULL,
	[NoOfBags] [numeric](18, 0) NULL,
	[VerificationReceived] [numeric](18, 0) NULL,
	[VerificationAccepted] [numeric](18, 0) NULL,
	[VerificationRejected] [numeric](18, 0) NULL,
	[BeforeVerificationApproved] [numeric](18, 0) NULL,
	[BeforeVerificationRejected] [numeric](18, 0) NULL,
	[HasVotersList] [bit] NULL,
	[FVR] [bit] NULL,
	[ControlCountComment] [nvarchar](max) NULL,
 CONSTRAINT [PK_p3_Bags] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[p3_BagsDetail]    Script Date: 19/09/2026 23:17:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[p3_BagsDetail](
	[id] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[PollingStationCode] [nvarchar](10) NULL,
	[BagNo] [numeric](18, 0) NULL,
	[Combination] [nvarchar](50) NULL,
	[TypeOfPollingStationCode] [nvarchar](10) NULL,
	[NoOfEnvelopes] [numeric](18, 0) NULL,
	[NoOfSignatures] [numeric](18, 0) NULL,
	[NoOfEnvelopesCounted] [numeric](18, 0) NULL,
	[Difference] [numeric](18, 0) NULL,
	[BoxNo] [numeric](18, 0) NULL,
	[BoxType] [nvarchar](3) NULL,
	[UserID] [int] NULL,
	[NameBox] [nvarchar](50) NULL,
 CONSTRAINT [PK_p3_BagsDetail] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[p3_BagsStatus]    Script Date: 19/09/2026 23:17:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[p3_BagsStatus](
	[id] [int] NOT NULL,
	[BagStatusName] [nvarchar](50) NULL,
 CONSTRAINT [PK_p3_BagsStatus] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[p3_BallotCombination]    Script Date: 19/09/2026 23:17:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[p3_BallotCombination](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[LevelCode] [nvarchar](10) NOT NULL,
	[LevelName] [nvarchar](max) NOT NULL,
	[Combination] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_p3_BallotCombination] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[p3_Box]    Script Date: 19/09/2026 23:17:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[p3_Box](
	[Id] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[BoxName] [nvarchar](50) NULL,
	[BoxNo] [numeric](18, 0) NULL,
	[BoxCombination] [nchar](10) NULL,
	[BoxType] [nchar](10) NULL,
	[TotalNoOfEnvelopes] [numeric](18, 0) NULL,
	[BoxStatus] [nvarchar](50) NULL,
	[RejectedInSorting] [numeric](18, 0) NULL,
 CONSTRAINT [PK_p3_Box] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[p3_BoxDetail]    Script Date: 19/09/2026 23:17:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[p3_BoxDetail](
	[Id] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[BoxName] [nvarchar](10) NULL,
	[BoxNo] [numeric](18, 0) NULL,
	[BoxCombination] [nvarchar](50) NULL,
	[BoxType] [nvarchar](1) NULL,
	[LevelCode] [nvarchar](10) NULL,
	[NoOfBallotsSorted] [numeric](18, 0) NULL,
	[NoOfBallotsCounted] [numeric](18, 0) NULL,
	[NoOfValidBallots] [numeric](18, 0) NULL,
	[NoOfInvalidBallots] [numeric](18, 0) NULL,
 CONSTRAINT [PK_p3_BoxDetail] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[p3_BoxStatus]    Script Date: 19/09/2026 23:17:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[p3_BoxStatus](
	[BoxStatus] [int] NOT NULL,
	[BoxStatusDesc] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[p3_Combinations]    Script Date: 19/09/2026 23:17:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[p3_Combinations](
	[MunicipalityCode] [nvarchar](3) NOT NULL,
	[MunicipalityCode199] [nvarchar](3) NULL,
	[MunicipalityName] [nvarchar](100) NULL,
	[Tip200] [nvarchar](6) NULL,
	[Tip300] [nvarchar](6) NULL,
	[Tip3001] [nvarchar](6) NULL,
	[Tip510] [nvarchar](6) NULL,
	[Tip520] [nvarchar](6) NULL,
	[Tip600] [nvarchar](6) NULL,
	[Tip7012] [nvarchar](6) NULL,
	[Tip703] [nvarchar](6) NULL,
	[Combination] [nvarchar](4) NULL,
	[Entity] [nvarchar](255) NULL,
	[MuniacipalityNameFBiH] [nvarchar](100) NULL,
	[MunicipalityNameRS] [nvarchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[p3_CombinationsLevels]    Script Date: 19/09/2026 23:17:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[p3_CombinationsLevels](
	[Combination] [nvarchar](10) NULL,
	[Level] [nvarchar](7) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[p3_IntakePs]    Script Date: 19/09/2026 23:17:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[p3_IntakePs](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[levelCode] [nvarchar](50) NULL,
	[psCode] [nvarchar](50) NULL,
	[received] [bit] NULL,
	[comment] [nvarchar](max) NULL,
 CONSTRAINT [PK_p3_IntakePs] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[p3_IntakePSMaterials]    Script Date: 19/09/2026 23:17:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[p3_IntakePSMaterials](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[LevelCode] [nvarchar](50) NOT NULL,
	[PSCode] [nvarchar](50) NOT NULL,
	[Material] [nvarchar](500) NULL,
	[Received] [bit] NULL,
	[Comment] [nvarchar](max) NULL,
 CONSTRAINT [PK_p3_IntakePSMaterials] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[p3_MaterialsData]    Script Date: 19/09/2026 23:17:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[p3_MaterialsData](
	[IDMaterial] [int] NOT NULL,
	[NameMaterial] [nvarchar](500) NULL,
	[Language] [int] NULL,
	[Description] [nvarchar](500) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[p3_Municipalities]    Script Date: 19/09/2026 23:17:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[p3_Municipalities](
	[MunicipalityCode] [char](4) NOT NULL,
	[MunicipalityName] [nvarchar](100) NULL,
	[MunicipalityNameEnglish] [varchar](50) NULL,
	[RegionCode] [char](3) NULL,
	[FOCode] [char](4) NULL,
	[SortNameLatin] [varchar](50) NULL,
	[SortNameCyrillic] [varchar](50) NULL,
	[Entity] [char](1) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[p3_PollingStation]    Script Date: 19/09/2026 23:17:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[p3_PollingStation](
	[PSCode] [nvarchar](50) NOT NULL,
	[PSName] [nvarchar](50) NULL,
	[Regular] [decimal](18, 0) NULL,
	[Absentee] [decimal](18, 0) NULL,
	[ByMail] [decimal](18, 0) NULL,
	[Total] [decimal](18, 0) NULL,
	[MunicipalityCode] [varchar](10) NULL,
	[MunicipalityName] [nvarchar](max) NULL,
	[TypeOfPollingStationCode] [nvarchar](1) NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NazivCir] [nvarchar](50) NULL,
	[Lokacija] [nvarchar](max) NULL,
	[LokacijaCir] [nvarchar](max) NULL,
 CONSTRAINT [PK__CBS-DB_PollingStation] PRIMARY KEY CLUSTERED 
(
	[PSCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[p3_RegStatsByCombination]    Script Date: 19/09/2026 23:17:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[p3_RegStatsByCombination](
	[Id] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[Combination] [varchar](5) NULL,
	[Regular] [numeric](18, 0) NULL,
	[Absentee] [numeric](18, 0) NULL,
	[ByMail] [numeric](18, 0) NULL,
	[DKP] [numeric](18, 0) NULL,
	[Personally] [numeric](18, 0) NULL,
	[Mobile] [numeric](18, 0) NULL,
	[Total] [numeric](18, 0) NULL,
	[MunicipalityCode] [varchar](3) NULL,
 CONSTRAINT [PK_p3_RegStatsByCombination] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[p3_TrackingArea]    Script Date: 19/09/2026 23:17:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[p3_TrackingArea](
	[IDTrackingArea] [int] NOT NULL,
	[NameArea] [nvarchar](500) NULL,
	[Language] [int] NULL,
	[DesriptionArea] [nvarchar](500) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[p3_TrackingRelations]    Script Date: 19/09/2026 23:17:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[p3_TrackingRelations](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FKMaterials] [int] NULL,
	[FromArea] [int] NULL,
	[ToArea] [int] NULL,
 CONSTRAINT [PK_p3_TrackingRelations] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[p3_VotesCastStatus]    Script Date: 19/09/2026 23:17:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[p3_VotesCastStatus](
	[id] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[PSNumber] [nvarchar](50) NULL,
	[Status] [nvarchar](50) NULL,
	[TotalVoters] [numeric](18, 0) NULL,
	[Voted] [numeric](18, 0) NULL,
 CONSTRAINT [PK_p3_VotesCastStatus] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[p3_BagsStatus] ([id], [BagStatusName]) VALUES (1, N'Primljena')
INSERT [dbo].[p3_BagsStatus] ([id], [BagStatusName]) VALUES (2, N'Kontrolno brojanje')
INSERT [dbo].[p3_BagsStatus] ([id], [BagStatusName]) VALUES (3, N'Verifikacija')
GO
INSERT [dbo].[p3_BoxStatus] ([BoxStatus], [BoxStatusDesc]) VALUES (1, N'Formirana')
INSERT [dbo].[p3_BoxStatus] ([BoxStatus], [BoxStatusDesc]) VALUES (2, N'Napunjena')
INSERT [dbo].[p3_BoxStatus] ([BoxStatus], [BoxStatusDesc]) VALUES (3, N'Na sortiranju')
GO
INSERT [dbo].[p3_Combinations] ([MunicipalityCode], [MunicipalityCode199], [MunicipalityName], [Tip200], [Tip300], [Tip3001], [Tip510], [Tip520], [Tip600], [Tip7012], [Tip703], [Combination], [Entity], [MuniacipalityNameFBiH], [MunicipalityNameRS]) VALUES (N'001', N'001', N'VELIKA KLADUŠA', N'201', NULL, N'401', N'511', NULL, NULL, N'7012', NULL, N'K01', N'A', N'VELIKA KLADUŠA', N'ВЕЛИКА КЛАДУША')
INSERT [dbo].[p3_Combinations] ([MunicipalityCode], [MunicipalityCode199], [MunicipalityName], [Tip200], [Tip300], [Tip3001], [Tip510], [Tip520], [Tip600], [Tip7012], [Tip703], [Combination], [Entity], [MuniacipalityNameFBiH], [MunicipalityNameRS]) VALUES (N'002', N'002', N'CAZIN', N'201', NULL, N'401', N'511', NULL, NULL, N'7012', NULL, N'K01', N'A', N'CAZIN', N'ЦАЗИН')
INSERT [dbo].[p3_Combinations] ([MunicipalityCode], [MunicipalityCode199], [MunicipalityName], [Tip200], [Tip300], [Tip3001], [Tip510], [Tip520], [Tip600], [Tip7012], [Tip703], [Combination], [Entity], [MuniacipalityNameFBiH], [MunicipalityNameRS]) VALUES (N'003', N'003', N'BIHAĆ', N'201', NULL, N'401', N'511', NULL, NULL, N'7012', NULL, N'K01', N'A', N'BIHAĆ', N'БИХАЋ')
GO
INSERT [dbo].[p3_CombinationsLevels] ([Combination], [Level]) VALUES (N'K01', N'201')
INSERT [dbo].[p3_CombinationsLevels] ([Combination], [Level]) VALUES (N'K02', N'202')
INSERT [dbo].[p3_CombinationsLevels] ([Combination], [Level]) VALUES (N'K03', N'203')
GO
INSERT [dbo].[p3_Municipalities] ([MunicipalityCode], [MunicipalityName], [MunicipalityNameEnglish], [RegionCode], [FOCode], [SortNameLatin], [SortNameCyrillic], [Entity]) VALUES (N'001 ', N'VELIKA KLADUŠA', N'VELIKA KLADUSA', N'201', N'FOVK', N'xelik%!kl%bwu%!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!', N'6CIFH41HI4ATZ4111111111111111111111111111111111111', N'A')
INSERT [dbo].[p3_Municipalities] ([MunicipalityCode], [MunicipalityName], [MunicipalityNameEnglish], [RegionCode], [FOCode], [SortNameLatin], [SortNameCyrillic], [Entity]) VALUES (N'064 ', N'MRKONJIĆ GRAD', N'MRKONJIC GRAD', N'300', N'FOBU', N'nskqpia!gs%b!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!', N'KPHNMFS17P4A11111111111111111111111111111111111111', N'B')
INSERT [dbo].[p3_Municipalities] ([MunicipalityCode], [MunicipalityName], [MunicipalityNameEnglish], [RegionCode], [FOCode], [SortNameLatin], [SortNameCyrillic], [Entity]) VALUES (N'135 ', N'VOGOŠĆA', N'VOGOSCA', N'209', N'FOSA', N'xqgqua%!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!', N'6N7NZS41111111111111111111111111111111111111111111', N'A')
GO
ALTER TABLE [dbo].[p3_Bags] ADD  CONSTRAINT [DF_p3_Bags_FVR]  DEFAULT ((0)) FOR [FVR]
GO
ALTER TABLE [dbo].[p3_IntakePSMaterials] ADD  CONSTRAINT [DF_p3_IntakePSMaterials_Received]  DEFAULT ((0)) FOR [Received]
GO
