USE [JIISdb]
GO
/****** Object:  Table [dbo].[p3_Municipalities]    Script Date: 10/1/2026 01:34:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[p3_Municipalities](
	[MunicipalityCode] [char](4) NOT NULL,
	[MunicipalityName] [nvarchar](100) NULL,
	[MunicipalityNameEnglish] [varchar](50) NULL,
	[RegionCode] [char](3) NULL,
	[FOCode] [char](4) NULL,
	[SortNameLatin] [varchar](50) NULL,
	[SortNameCyrillic] [varchar](50) NULL,
	[Entity] [char](1) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[p3_Municipalities] ([MunicipalityCode], [MunicipalityName], [MunicipalityNameEnglish], [RegionCode], [FOCode], [SortNameLatin], [SortNameCyrillic], [Entity]) VALUES (N'001 ', N'VELIKA KLADUŠA', N'VELIKA KLADUSA', N'201', N'FOVK', N'xelik%!kl%bwu%!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!', N'6CIFH41HI4ATZ4111111111111111111111111111111111111', N'A')
INSERT [dbo].[p3_Municipalities] ([MunicipalityCode], [MunicipalityName], [MunicipalityNameEnglish], [RegionCode], [FOCode], [SortNameLatin], [SortNameCyrillic], [Entity]) VALUES (N'064 ', N'MRKONJIĆ GRAD', N'MRKONJIC GRAD', N'300', N'FOBU', N'nskqpia!gs%b!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!', N'KPHNMFS17P4A11111111111111111111111111111111111111', N'B')
INSERT [dbo].[p3_Municipalities] ([MunicipalityCode], [MunicipalityName], [MunicipalityNameEnglish], [RegionCode], [FOCode], [SortNameLatin], [SortNameCyrillic], [Entity]) VALUES (N'135 ', N'VOGOŠĆA', N'VOGOSCA', N'209', N'FOSA', N'xqgqua%!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!', N'6N7NZS41111111111111111111111111111111111111111111', N'A')
GO
