USE [Tracking]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 9/29/2026 23:16:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoleClaims]    Script Date: 9/29/2026 23:16:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoleClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoleClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 9/29/2026 23:16:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 9/29/2026 23:16:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 9/29/2026 23:16:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](450) NOT NULL,
	[ProviderKey] [nvarchar](450) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 9/29/2026 23:16:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](450) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 9/29/2026 23:16:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](450) NOT NULL,
	[DisplayName] [nvarchar](100) NOT NULL,
	[UserName] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
 CONSTRAINT [PK_AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserTokens]    Script Date: 9/29/2026 23:16:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserTokens](
	[UserId] [nvarchar](450) NOT NULL,
	[LoginProvider] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](450) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserTokens] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AuditEntries]    Script Date: 9/29/2026 23:16:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuditEntries](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[ShipmentId] [int] NULL,
	[ActorId] [nvarchar](450) NOT NULL,
	[ActorName] [nvarchar](100) NOT NULL,
	[Action] [nvarchar](80) NOT NULL,
	[AtUtc] [datetime2](7) NOT NULL,
	[Reason] [nvarchar](1000) NULL,
	[BeforeJson] [nvarchar](max) NULL,
	[AfterJson] [nvarchar](max) NULL,
	[BagId] [int] NULL,
	[BoxId] [int] NULL,
 CONSTRAINT [PK_AuditEntries] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BagReceiptEntries]    Script Date: 9/29/2026 23:16:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BagReceiptEntries](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BagId] [int] NOT NULL,
	[RegularEnvelopes] [int] NOT NULL,
	[ExpressEnvelopes] [int] NOT NULL,
	[TotalEnvelopes] [int] NOT NULL,
	[PoBox] [nvarchar](20) NULL,
	[Comment] [nvarchar](1000) NULL,
	[CreatedById] [nvarchar](450) NOT NULL,
	[CreatedAtUtc] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_BagReceiptEntries] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BagRejections]    Script Date: 9/29/2026 23:16:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BagRejections](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BagId] [int] NOT NULL,
	[RunId] [uniqueidentifier] NOT NULL,
	[RejectionReasonId] [int] NOT NULL,
	[ReasonName] [nvarchar](200) NOT NULL,
	[Quantity] [int] NOT NULL,
	[Comment] [nvarchar](1000) NULL,
 CONSTRAINT [PK_BagRejections] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bags]    Script Date: 9/29/2026 23:16:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bags](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ShipmentId] [int] NOT NULL,
	[Barcode] [nvarchar](40) NOT NULL,
	[PollingStationCode] [nvarchar](10) NULL,
	[PoBox] [nvarchar](20) NULL,
	[RegularEnvelopes] [int] NOT NULL,
	[ExpressEnvelopes] [int] NOT NULL,
	[TotalEnvelopes] [int] NOT NULL,
	[Comment] [nvarchar](1000) NULL,
	[CreatedById] [nvarchar](450) NOT NULL,
	[CreatedAtUtc] [datetime2](7) NOT NULL,
	[GeneratedBagId] [int] NULL,
	[ApprovedEnvelopes] [int] NULL,
	[CountedAtUtc] [datetime2](7) NULL,
	[CountedEnvelopes] [int] NULL,
	[DifferenceReason] [nvarchar](1000) NULL,
	[PreparationComment] [nvarchar](1000) NULL,
	[PreparedAtUtc] [datetime2](7) NULL,
	[RejectedEnvelopes] [int] NULL,
	[RunId] [uniqueidentifier] NULL,
	[Stage] [int] NOT NULL,
	[VerificationAtUtc] [datetime2](7) NULL,
	[VerificationComment] [nvarchar](1000) NULL,
	[VerificationReceived] [int] NULL,
	[Version] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Bags] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BagSequences]    Script Date: 9/29/2026 23:16:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BagSequences](
	[Id] [int] NOT NULL,
	[NextNumber] [bigint] NOT NULL,
	[Version] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_BagSequences] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Boxes]    Script Date: 9/29/2026 23:16:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Boxes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Group] [int] NOT NULL,
	[CombinationId] [int] NOT NULL,
	[Status] [int] NOT NULL,
	[Version] [uniqueidentifier] NOT NULL,
	[CreatedById] [nvarchar](450) NOT NULL,
	[CreatedAtUtc] [datetime2](7) NOT NULL,
	[FilledById] [nvarchar](450) NULL,
	[FilledAtUtc] [datetime2](7) NULL,
 CONSTRAINT [PK_Boxes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BoxItems]    Script Date: 9/29/2026 23:16:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BoxItems](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BagId] [int] NOT NULL,
	[BoxId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[CreatedById] [nvarchar](450) NOT NULL,
	[CreatedAtUtc] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_BoxItems] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Combinations]    Script Date: 9/29/2026 23:16:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Combinations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](10) NOT NULL,
	[Levels] [nvarchar](200) NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Combinations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GeneratedBags]    Script Date: 9/29/2026 23:16:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GeneratedBags](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Barcode] [nvarchar](40) NOT NULL,
	[Group] [int] NOT NULL,
	[PollingStationId] [int] NULL,
	[CreatedAtUtc] [datetime2](7) NOT NULL,
	[CreatedById] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_GeneratedBags] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MaterialReceipts]    Script Date: 9/29/2026 23:16:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MaterialReceipts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ShipmentId] [int] NOT NULL,
	[IsUndelivered] [bit] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Comment] [nvarchar](1000) NULL,
	[CreatedById] [nvarchar](450) NOT NULL,
	[CreatedAtUtc] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_MaterialReceipts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PollingStations]    Script Date: 9/29/2026 23:16:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PollingStations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ElectionCode] [nvarchar](50) NOT NULL,
	[Code] [nvarchar](10) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[NameCyrillic] [nvarchar](50) NULL,
	[MunicipalityCode] [nvarchar](10) NULL,
	[MunicipalityName] [nvarchar](255) NULL,
	[SourceTypeCode] [nvarchar](1) NOT NULL,
	[SourceValidityCode] [nvarchar](1) NULL,
	[Group] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[RegularVoters] [bigint] NULL,
	[AbsenteeVoters] [bigint] NULL,
	[ByMailVoters] [bigint] NULL,
	[TotalVoters] [bigint] NULL,
	[RegisteredRegularVoters] [bigint] NULL,
	[InPersonVoters] [bigint] NULL,
	[PostalVoters] [bigint] NULL,
	[DkpVoters] [bigint] NULL,
 CONSTRAINT [PK_PollingStations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RejectionReasons]    Script Date: 9/29/2026 23:16:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RejectionReasons](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[NormalizedName] [nvarchar](200) NOT NULL,
	[Group] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[Version] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_RejectionReasons] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ScanAttempts]    Script Date: 9/29/2026 23:16:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ScanAttempts](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[ScanningSessionId] [int] NOT NULL,
	[VoterId] [int] NULL,
	[JmbgLast4] [nvarchar](4) NOT NULL,
	[Accepted] [bit] NOT NULL,
	[Result] [nvarchar](250) NOT NULL,
	[CreatedById] [nvarchar](450) NOT NULL,
	[CreatedAtUtc] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_ScanAttempts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ScanningSessions]    Script Date: 9/29/2026 23:16:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ScanningSessions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ElectionCode] [nvarchar](50) NOT NULL,
	[Category] [int] NOT NULL,
	[PollingStationCode] [nvarchar](10) NOT NULL,
	[Status] [int] NOT NULL,
	[StartedById] [nvarchar](450) NOT NULL,
	[StartedAtUtc] [datetime2](7) NOT NULL,
	[CompletedById] [nvarchar](450) NULL,
	[CompletedAtUtc] [datetime2](7) NULL,
	[Version] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_ScanningSessions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Shipments]    Script Date: 9/29/2026 23:16:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shipments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Reference] [nvarchar](40) NOT NULL,
	[Group] [int] NOT NULL,
	[ReceivedDate] [date] NOT NULL,
	[ExpectedEnvelopes] [int] NOT NULL,
	[Undelivered] [int] NOT NULL,
	[OtherMaterials] [int] NOT NULL,
	[Comment] [nvarchar](1000) NULL,
	[Status] [int] NOT NULL,
	[CreatedById] [nvarchar](450) NOT NULL,
	[CreatedAtUtc] [datetime2](7) NOT NULL,
	[ClosedAtUtc] [datetime2](7) NULL,
	[Version] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Shipments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VerificationRejections]    Script Date: 9/29/2026 23:16:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VerificationRejections](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BagId] [int] NOT NULL,
	[RejectionReasonId] [int] NOT NULL,
	[ReasonName] [nvarchar](200) NOT NULL,
	[Quantity] [int] NOT NULL,
	[Comment] [nvarchar](1000) NULL,
 CONSTRAINT [PK_VerificationRejections] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VerificationResults]    Script Date: 9/29/2026 23:16:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VerificationResults](
	[BagId] [int] NOT NULL,
	[Accepted] [int] NOT NULL,
	[Rejected] [int] NOT NULL,
	[Comment] [nvarchar](1000) NULL,
	[CreatedById] [nvarchar](450) NOT NULL,
	[CreatedAtUtc] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_VerificationResults] PRIMARY KEY CLUSTERED 
(
	[BagId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Voters]    Script Date: 9/29/2026 23:16:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Voters](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SourceId] [int] NULL,
	[ElectionCode] [nvarchar](50) NOT NULL,
	[Jmbg] [nvarchar](13) NOT NULL,
	[FirstName] [nvarchar](60) NULL,
	[LastName] [nvarchar](60) NULL,
	[ParentsName] [nvarchar](50) NULL,
	[DateOfBirth] [datetime2](7) NULL,
	[IsEligible] [bit] NOT NULL,
	[SourceEligibilityCode] [nvarchar](1) NULL,
	[SourceTypeCode] [nvarchar](1) NULL,
	[PollingStationCode] [nvarchar](10) NULL,
	[VoteForMunicipalityCode] [nvarchar](4) NULL,
	[VoteInMunicipalityCode] [nvarchar](4) NULL,
	[CurrentMunicipalityCode] [nvarchar](50) NULL,
 CONSTRAINT [PK_Voters] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VotesCast]    Script Date: 9/29/2026 23:16:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VotesCast](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[ElectionCode] [nvarchar](50) NOT NULL,
	[VoterId] [int] NOT NULL,
	[ScanningSessionId] [int] NOT NULL,
	[Category] [int] NOT NULL,
	[RegisteredPollingStationCode] [nvarchar](10) NULL,
	[RegisteredSourceTypeCode] [nvarchar](1) NULL,
	[CreatedById] [nvarchar](450) NOT NULL,
	[CreatedAtUtc] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_VotesCast] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Bags] ADD  DEFAULT ((1)) FOR [Stage]
GO
ALTER TABLE [dbo].[Bags] ADD  DEFAULT ('1badf100-2026-4024-8024-000000000001') FOR [Version]
GO
ALTER TABLE [dbo].[AspNetRoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetRoleClaims] CHECK CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserTokens]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserTokens] CHECK CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[BagReceiptEntries]  WITH CHECK ADD  CONSTRAINT [FK_BagReceiptEntries_Bags_BagId] FOREIGN KEY([BagId])
REFERENCES [dbo].[Bags] ([Id])
GO
ALTER TABLE [dbo].[BagReceiptEntries] CHECK CONSTRAINT [FK_BagReceiptEntries_Bags_BagId]
GO
ALTER TABLE [dbo].[BagRejections]  WITH CHECK ADD  CONSTRAINT [FK_BagRejections_Bags_BagId] FOREIGN KEY([BagId])
REFERENCES [dbo].[Bags] ([Id])
GO
ALTER TABLE [dbo].[BagRejections] CHECK CONSTRAINT [FK_BagRejections_Bags_BagId]
GO
ALTER TABLE [dbo].[BagRejections]  WITH CHECK ADD  CONSTRAINT [FK_BagRejections_RejectionReasons_RejectionReasonId] FOREIGN KEY([RejectionReasonId])
REFERENCES [dbo].[RejectionReasons] ([Id])
GO
ALTER TABLE [dbo].[BagRejections] CHECK CONSTRAINT [FK_BagRejections_RejectionReasons_RejectionReasonId]
GO
ALTER TABLE [dbo].[Bags]  WITH CHECK ADD  CONSTRAINT [FK_Bags_AspNetUsers_CreatedById] FOREIGN KEY([CreatedById])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Bags] CHECK CONSTRAINT [FK_Bags_AspNetUsers_CreatedById]
GO
ALTER TABLE [dbo].[Bags]  WITH CHECK ADD  CONSTRAINT [FK_Bags_GeneratedBags_GeneratedBagId] FOREIGN KEY([GeneratedBagId])
REFERENCES [dbo].[GeneratedBags] ([Id])
GO
ALTER TABLE [dbo].[Bags] CHECK CONSTRAINT [FK_Bags_GeneratedBags_GeneratedBagId]
GO
ALTER TABLE [dbo].[Bags]  WITH CHECK ADD  CONSTRAINT [FK_Bags_Shipments_ShipmentId] FOREIGN KEY([ShipmentId])
REFERENCES [dbo].[Shipments] ([Id])
GO
ALTER TABLE [dbo].[Bags] CHECK CONSTRAINT [FK_Bags_Shipments_ShipmentId]
GO
ALTER TABLE [dbo].[Boxes]  WITH CHECK ADD  CONSTRAINT [FK_Boxes_AspNetUsers_CreatedById] FOREIGN KEY([CreatedById])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Boxes] CHECK CONSTRAINT [FK_Boxes_AspNetUsers_CreatedById]
GO
ALTER TABLE [dbo].[Boxes]  WITH CHECK ADD  CONSTRAINT [FK_Boxes_AspNetUsers_FilledById] FOREIGN KEY([FilledById])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Boxes] CHECK CONSTRAINT [FK_Boxes_AspNetUsers_FilledById]
GO
ALTER TABLE [dbo].[Boxes]  WITH CHECK ADD  CONSTRAINT [FK_Boxes_Combinations_CombinationId] FOREIGN KEY([CombinationId])
REFERENCES [dbo].[Combinations] ([Id])
GO
ALTER TABLE [dbo].[Boxes] CHECK CONSTRAINT [FK_Boxes_Combinations_CombinationId]
GO
ALTER TABLE [dbo].[BoxItems]  WITH CHECK ADD  CONSTRAINT [FK_BoxItems_AspNetUsers_CreatedById] FOREIGN KEY([CreatedById])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[BoxItems] CHECK CONSTRAINT [FK_BoxItems_AspNetUsers_CreatedById]
GO
ALTER TABLE [dbo].[BoxItems]  WITH CHECK ADD  CONSTRAINT [FK_BoxItems_Bags_BagId] FOREIGN KEY([BagId])
REFERENCES [dbo].[Bags] ([Id])
GO
ALTER TABLE [dbo].[BoxItems] CHECK CONSTRAINT [FK_BoxItems_Bags_BagId]
GO
ALTER TABLE [dbo].[BoxItems]  WITH CHECK ADD  CONSTRAINT [FK_BoxItems_Boxes_BoxId] FOREIGN KEY([BoxId])
REFERENCES [dbo].[Boxes] ([Id])
GO
ALTER TABLE [dbo].[BoxItems] CHECK CONSTRAINT [FK_BoxItems_Boxes_BoxId]
GO
ALTER TABLE [dbo].[GeneratedBags]  WITH CHECK ADD  CONSTRAINT [FK_GeneratedBags_AspNetUsers_CreatedById] FOREIGN KEY([CreatedById])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[GeneratedBags] CHECK CONSTRAINT [FK_GeneratedBags_AspNetUsers_CreatedById]
GO
ALTER TABLE [dbo].[GeneratedBags]  WITH CHECK ADD  CONSTRAINT [FK_GeneratedBags_PollingStations_PollingStationId] FOREIGN KEY([PollingStationId])
REFERENCES [dbo].[PollingStations] ([Id])
GO
ALTER TABLE [dbo].[GeneratedBags] CHECK CONSTRAINT [FK_GeneratedBags_PollingStations_PollingStationId]
GO
ALTER TABLE [dbo].[MaterialReceipts]  WITH CHECK ADD  CONSTRAINT [FK_MaterialReceipts_Shipments_ShipmentId] FOREIGN KEY([ShipmentId])
REFERENCES [dbo].[Shipments] ([Id])
GO
ALTER TABLE [dbo].[MaterialReceipts] CHECK CONSTRAINT [FK_MaterialReceipts_Shipments_ShipmentId]
GO
ALTER TABLE [dbo].[ScanAttempts]  WITH CHECK ADD  CONSTRAINT [FK_ScanAttempts_AspNetUsers_CreatedById] FOREIGN KEY([CreatedById])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[ScanAttempts] CHECK CONSTRAINT [FK_ScanAttempts_AspNetUsers_CreatedById]
GO
ALTER TABLE [dbo].[ScanAttempts]  WITH CHECK ADD  CONSTRAINT [FK_ScanAttempts_ScanningSessions_ScanningSessionId] FOREIGN KEY([ScanningSessionId])
REFERENCES [dbo].[ScanningSessions] ([Id])
GO
ALTER TABLE [dbo].[ScanAttempts] CHECK CONSTRAINT [FK_ScanAttempts_ScanningSessions_ScanningSessionId]
GO
ALTER TABLE [dbo].[ScanAttempts]  WITH CHECK ADD  CONSTRAINT [FK_ScanAttempts_Voters_VoterId] FOREIGN KEY([VoterId])
REFERENCES [dbo].[Voters] ([Id])
GO
ALTER TABLE [dbo].[ScanAttempts] CHECK CONSTRAINT [FK_ScanAttempts_Voters_VoterId]
GO
ALTER TABLE [dbo].[ScanningSessions]  WITH CHECK ADD  CONSTRAINT [FK_ScanningSessions_AspNetUsers_CompletedById] FOREIGN KEY([CompletedById])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[ScanningSessions] CHECK CONSTRAINT [FK_ScanningSessions_AspNetUsers_CompletedById]
GO
ALTER TABLE [dbo].[ScanningSessions]  WITH CHECK ADD  CONSTRAINT [FK_ScanningSessions_AspNetUsers_StartedById] FOREIGN KEY([StartedById])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[ScanningSessions] CHECK CONSTRAINT [FK_ScanningSessions_AspNetUsers_StartedById]
GO
ALTER TABLE [dbo].[Shipments]  WITH CHECK ADD  CONSTRAINT [FK_Shipments_AspNetUsers_CreatedById] FOREIGN KEY([CreatedById])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Shipments] CHECK CONSTRAINT [FK_Shipments_AspNetUsers_CreatedById]
GO
ALTER TABLE [dbo].[VerificationRejections]  WITH CHECK ADD  CONSTRAINT [FK_VerificationRejections_RejectionReasons_RejectionReasonId] FOREIGN KEY([RejectionReasonId])
REFERENCES [dbo].[RejectionReasons] ([Id])
GO
ALTER TABLE [dbo].[VerificationRejections] CHECK CONSTRAINT [FK_VerificationRejections_RejectionReasons_RejectionReasonId]
GO
ALTER TABLE [dbo].[VerificationRejections]  WITH CHECK ADD  CONSTRAINT [FK_VerificationRejections_VerificationResults_BagId] FOREIGN KEY([BagId])
REFERENCES [dbo].[VerificationResults] ([BagId])
GO
ALTER TABLE [dbo].[VerificationRejections] CHECK CONSTRAINT [FK_VerificationRejections_VerificationResults_BagId]
GO
ALTER TABLE [dbo].[VerificationResults]  WITH CHECK ADD  CONSTRAINT [FK_VerificationResults_AspNetUsers_CreatedById] FOREIGN KEY([CreatedById])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[VerificationResults] CHECK CONSTRAINT [FK_VerificationResults_AspNetUsers_CreatedById]
GO
ALTER TABLE [dbo].[VerificationResults]  WITH CHECK ADD  CONSTRAINT [FK_VerificationResults_Bags_BagId] FOREIGN KEY([BagId])
REFERENCES [dbo].[Bags] ([Id])
GO
ALTER TABLE [dbo].[VerificationResults] CHECK CONSTRAINT [FK_VerificationResults_Bags_BagId]
GO
ALTER TABLE [dbo].[VotesCast]  WITH CHECK ADD  CONSTRAINT [FK_VotesCast_AspNetUsers_CreatedById] FOREIGN KEY([CreatedById])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[VotesCast] CHECK CONSTRAINT [FK_VotesCast_AspNetUsers_CreatedById]
GO
ALTER TABLE [dbo].[VotesCast]  WITH CHECK ADD  CONSTRAINT [FK_VotesCast_ScanningSessions_ScanningSessionId] FOREIGN KEY([ScanningSessionId])
REFERENCES [dbo].[ScanningSessions] ([Id])
GO
ALTER TABLE [dbo].[VotesCast] CHECK CONSTRAINT [FK_VotesCast_ScanningSessions_ScanningSessionId]
GO
ALTER TABLE [dbo].[VotesCast]  WITH CHECK ADD  CONSTRAINT [FK_VotesCast_Voters_VoterId] FOREIGN KEY([VoterId])
REFERENCES [dbo].[Voters] ([Id])
GO
ALTER TABLE [dbo].[VotesCast] CHECK CONSTRAINT [FK_VotesCast_Voters_VoterId]
GO
ALTER TABLE [dbo].[BagReceiptEntries]  WITH CHECK ADD  CONSTRAINT [CK_Receipt_Counts] CHECK  (([TotalEnvelopes]>(0) AND [TotalEnvelopes]<=(1000000) AND [RegularEnvelopes]>=(0) AND [ExpressEnvelopes]>=(0)))
GO
ALTER TABLE [dbo].[BagReceiptEntries] CHECK CONSTRAINT [CK_Receipt_Counts]
GO
ALTER TABLE [dbo].[BagRejections]  WITH CHECK ADD  CONSTRAINT [CK_Rejection_Quantity] CHECK  (([Quantity]>(0) AND [Quantity]<=(1000000)))
GO
ALTER TABLE [dbo].[BagRejections] CHECK CONSTRAINT [CK_Rejection_Quantity]
GO
ALTER TABLE [dbo].[Bags]  WITH CHECK ADD  CONSTRAINT [CK_Bag_Counts] CHECK  (([TotalEnvelopes]>(0) AND [TotalEnvelopes]<=(1000000) AND [RegularEnvelopes]>=(0) AND [ExpressEnvelopes]>=(0)))
GO
ALTER TABLE [dbo].[Bags] CHECK CONSTRAINT [CK_Bag_Counts]
GO
ALTER TABLE [dbo].[Bags]  WITH CHECK ADD  CONSTRAINT [CK_Bag_Stage] CHECK  (([Stage]=(6) OR [Stage]=(5) OR [Stage]=(4) OR [Stage]=(3) OR [Stage]=(2) OR [Stage]=(1)))
GO
ALTER TABLE [dbo].[Bags] CHECK CONSTRAINT [CK_Bag_Stage]
GO
ALTER TABLE [dbo].[Bags]  WITH CHECK ADD  CONSTRAINT [CK_Bag_Workflow] CHECK  (([Stage]=(1) OR [CountedEnvelopes] IS NOT NULL AND ([CountedEnvelopes]>=(0) AND [CountedEnvelopes]<=(1000000)) AND [RunId] IS NOT NULL AND ([Stage]=(2) OR [ApprovedEnvelopes] IS NOT NULL AND [RejectedEnvelopes] IS NOT NULL AND [ApprovedEnvelopes]>=(0) AND [RejectedEnvelopes]>=(0) AND ([ApprovedEnvelopes]+[RejectedEnvelopes])=[CountedEnvelopes] AND ([Stage]=(3) OR [VerificationReceived] IS NOT NULL AND [VerificationReceived]=[ApprovedEnvelopes]))))
GO
ALTER TABLE [dbo].[Bags] CHECK CONSTRAINT [CK_Bag_Workflow]
GO
ALTER TABLE [dbo].[Boxes]  WITH CHECK ADD  CONSTRAINT [CK_Box_Group] CHECK  (([Group]=(5) OR [Group]=(4) OR [Group]=(3) OR [Group]=(2) OR [Group]=(1)))
GO
ALTER TABLE [dbo].[Boxes] CHECK CONSTRAINT [CK_Box_Group]
GO
ALTER TABLE [dbo].[Boxes]  WITH CHECK ADD  CONSTRAINT [CK_Box_Status] CHECK  (([Status]=(1) AND [FilledById] IS NULL AND [FilledAtUtc] IS NULL OR [Status]=(2) AND [FilledById] IS NOT NULL AND [FilledAtUtc] IS NOT NULL))
GO
ALTER TABLE [dbo].[Boxes] CHECK CONSTRAINT [CK_Box_Status]
GO
ALTER TABLE [dbo].[BoxItems]  WITH CHECK ADD  CONSTRAINT [CK_BoxItem_Quantity] CHECK  (([Quantity]>(0) AND [Quantity]<=(1000000)))
GO
ALTER TABLE [dbo].[BoxItems] CHECK CONSTRAINT [CK_BoxItem_Quantity]
GO
ALTER TABLE [dbo].[GeneratedBags]  WITH CHECK ADD  CONSTRAINT [CK_GeneratedBag_Group] CHECK  (([Group]=(1) AND [PollingStationId] IS NULL OR ([Group]=(5) OR [Group]=(4) OR [Group]=(3) OR [Group]=(2)) AND [PollingStationId] IS NOT NULL))
GO
ALTER TABLE [dbo].[GeneratedBags] CHECK CONSTRAINT [CK_GeneratedBag_Group]
GO
ALTER TABLE [dbo].[MaterialReceipts]  WITH CHECK ADD  CONSTRAINT [CK_Material_Quantity] CHECK  (([Quantity]>(0) AND [Quantity]<=(1000000)))
GO
ALTER TABLE [dbo].[MaterialReceipts] CHECK CONSTRAINT [CK_Material_Quantity]
GO
ALTER TABLE [dbo].[PollingStations]  WITH CHECK ADD  CONSTRAINT [CK_PollingStation_Group] CHECK  (([Group]=(5) OR [Group]=(4) OR [Group]=(3) OR [Group]=(2)))
GO
ALTER TABLE [dbo].[PollingStations] CHECK CONSTRAINT [CK_PollingStation_Group]
GO
ALTER TABLE [dbo].[RejectionReasons]  WITH CHECK ADD  CONSTRAINT [CK_Reason_Group] CHECK  (([Group]=(5) OR [Group]=(4) OR [Group]=(3) OR [Group]=(2) OR [Group]=(1)))
GO
ALTER TABLE [dbo].[RejectionReasons] CHECK CONSTRAINT [CK_Reason_Group]
GO
ALTER TABLE [dbo].[ScanningSessions]  WITH CHECK ADD  CONSTRAINT [CK_ScanningSession_Category] CHECK  (([Category]=(6) OR [Category]=(5) OR [Category]=(4) OR [Category]=(3) OR [Category]=(2) OR [Category]=(1)))
GO
ALTER TABLE [dbo].[ScanningSessions] CHECK CONSTRAINT [CK_ScanningSession_Category]
GO
ALTER TABLE [dbo].[ScanningSessions]  WITH CHECK ADD  CONSTRAINT [CK_ScanningSession_Station] CHECK  (([Category]=(4) AND [PollingStationCode]='' OR [Category]<>(4) AND [PollingStationCode]<>''))
GO
ALTER TABLE [dbo].[ScanningSessions] CHECK CONSTRAINT [CK_ScanningSession_Station]
GO
ALTER TABLE [dbo].[ScanningSessions]  WITH CHECK ADD  CONSTRAINT [CK_ScanningSession_Status] CHECK  ((([Status]=(2) OR [Status]=(1)) AND [CompletedAtUtc] IS NULL AND [CompletedById] IS NULL OR [Status]=(3) AND [CompletedAtUtc] IS NOT NULL AND [CompletedById] IS NOT NULL))
GO
ALTER TABLE [dbo].[ScanningSessions] CHECK CONSTRAINT [CK_ScanningSession_Status]
GO
ALTER TABLE [dbo].[Shipments]  WITH CHECK ADD  CONSTRAINT [CK_Shipment_Counts] CHECK  (([ExpectedEnvelopes]>=(0) AND [ExpectedEnvelopes]<=(1000000) AND [Undelivered]>=(0) AND [Undelivered]<=(1000000) AND [OtherMaterials]>=(0) AND [OtherMaterials]<=(1000000)))
GO
ALTER TABLE [dbo].[Shipments] CHECK CONSTRAINT [CK_Shipment_Counts]
GO
ALTER TABLE [dbo].[Shipments]  WITH CHECK ADD  CONSTRAINT [CK_Shipment_Group] CHECK  (([Group]=(5) OR [Group]=(4) OR [Group]=(3) OR [Group]=(2) OR [Group]=(1)))
GO
ALTER TABLE [dbo].[Shipments] CHECK CONSTRAINT [CK_Shipment_Group]
GO
ALTER TABLE [dbo].[VerificationRejections]  WITH CHECK ADD  CONSTRAINT [CK_VerificationRejection_Quantity] CHECK  (([Quantity]>(0) AND [Quantity]<=(1000000)))
GO
ALTER TABLE [dbo].[VerificationRejections] CHECK CONSTRAINT [CK_VerificationRejection_Quantity]
GO
ALTER TABLE [dbo].[VerificationResults]  WITH CHECK ADD  CONSTRAINT [CK_Verification_Counts] CHECK  (([Accepted]>=(0) AND [Rejected]>=(0) AND ([Accepted]+[Rejected])<=(1000000)))
GO
ALTER TABLE [dbo].[VerificationResults] CHECK CONSTRAINT [CK_Verification_Counts]
GO
