USE [JIISdb]
GO
/****** Object:  Table [dbo].[p3_VotesCast]    Script Date: 24/09/2026 10:47:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[p3_VotesCast](
	[id] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[RegID] [nvarchar](13) NULL,
	[Name] [nvarchar](50) NULL,
	[Surname] [nvarchar](50) NULL,
	[TypeOfVote] [nvarchar](50) NULL,
	[VoteForLevel] [nvarchar](50) NULL,
	[PSBag] [nvarchar](50) NULL,
	[Accepted] [bit] NULL,
	[Reason] [nvarchar](50) NULL,
	[Clerk] [int] NULL,
	[TimeVerified] [datetime] NULL,
	[Mode] [int] NULL,
	[TypeOfPollingStationCode] [nchar](10) NULL,
	[Suspicious] [bit] NULL,
	[DocumentName] [nchar](100) NULL,
	[StatisticAccepted] [bit] NULL,
 CONSTRAINT [PK_p3_VotesCast] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[p3_VotesCastStatus]    Script Date: 24/09/2026 10:47:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[p3_VotesCastStatus](
	[id] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[PSNumber] [nvarchar](50) NULL,
	[Status] [nvarchar](50) NULL,
	[TotalVoters] [numeric](18, 0) NULL,
	[Voted] [numeric](18, 0) NULL,
 CONSTRAINT [PK_p3_VotesCastStatus] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Voter]    Script Date: 24/09/2026 10:47:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Voter](
	[RegID] [nvarchar](13) NOT NULL,
	[ArchiveID] [nvarchar](20) NULL,
	[LastName] [nvarchar](60) NULL,
	[ParentsName] [nvarchar](50) NULL,
	[FirstName] [nvarchar](60) NULL,
	[Sex] [nvarchar](1) NULL,
	[DateOfBirth] [smalldatetime] NULL,
	[DateOfDeath] [smalldatetime] NULL,
	[PersonalID] [nvarchar](13) NULL,
	[91MunicipalityCode] [nvarchar](4) NULL,
	[MLJPI91Muni] [nvarchar](10) NULL,
	[CurrentMunicipalityCode] [nvarchar](50) NULL,
	[VoteForMunicipalityCode] [nvarchar](4) NULL,
	[Settlement] [nvarchar](60) NULL,
	[TypeOfPollingStationCode] [nvarchar](1) NULL,
	[VoteInMunicipalityCode] [nvarchar](4) NULL,
	[PollingStation] [nvarchar](10) NULL,
	[PollingStationUnitCode] [nvarchar](4) NULL,
	[CensusID] [int] NULL,
	[SortNameLatin] [nvarchar](36) NULL,
	[PlaceOfBirth] [nvarchar](50) NULL,
	[DateRegistered] [smalldatetime] NULL,
	[DateUpdated] [smalldatetime] NULL,
	[Street] [nvarchar](60) NULL,
	[HouseNumber] [nvarchar](100) NULL,
	[MLJPIMuni] [nvarchar](10) NULL,
	[MLJPISettlement] [nvarchar](60) NULL,
	[MLJPIStreet] [nvarchar](60) NULL,
	[MLJPIHouseNumber] [nvarchar](50) NULL,
	[IZBORNA_OPCIJA] [nvarchar](10) NULL,
	[GLASACKA_OPCIJA] [nvarchar](30) NULL,
	[STATUS] [nvarchar](1) NULL,
	[NAPOMENA] [nvarchar](150) NULL,
	[PREB_BOR] [nvarchar](1) NULL,
	[Eligible] [nvarchar](1) NULL,
	[DatumIzmjene] [smalldatetime] NULL,
	[StatusJMB] [nvarchar](10) NULL,
	[StatusRAS] [nvarchar](10) NULL,
	[STATUS_OSOBE] [nvarchar](50) NULL,
	[DRZAVA_BORAVKA] [nvarchar](50) NULL,
	[OPCINA_BORAVKA] [nvarchar](50) NULL,
	[MJESTO_BORAVKA] [nvarchar](60) NULL,
	[ULICA_BORAVKA] [nvarchar](60) NULL,
	[KATEGORIJA_BIRACA] [nvarchar](10) NULL,
	[PollingStationStari] [nvarchar](10) NULL,
	[PrvoSlovo] [nvarchar](2) NULL,
	[LastNameCyr] [nvarchar](60) NULL,
	[ParentsNameCyr] [nvarchar](50) NULL,
	[FirstNameCyr] [nvarchar](60) NULL,
	[CIPS] [nchar](4) NULL,
	[Age] [int] NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK__CBS-DB_Voter_] PRIMARY KEY CLUSTERED 
(
	[RegID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[p3_VotesCast]  WITH CHECK ADD  CONSTRAINT [FK_p3_VotesCast_Users] FOREIGN KEY([Clerk])
REFERENCES [dbo].[Users] ([User_ID])
GO
ALTER TABLE [dbo].[p3_VotesCast] CHECK CONSTRAINT [FK_p3_VotesCast_Users]
GO
/****** Object:  StoredProcedure [dbo].[p3_InsertIntoVotesCast]    Script Date: 24/09/2026 10:47:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[p3_InsertIntoVotesCast]
 @jmb as nvarchar(13),
 @clerk as int,
 @psBag as nvarchar(50),
 @suspicious as bit

AS
BEGIN

SET NOCOUNT ON;

declare @TypeOfPollingCode nvarchar(10)
declare @FirstName as nvarchar(50), @LastName as nvarchar(50);
declare @VoteForLevel as varchar(5);
select @FirstName=FirstName, @LastName=LastName, @TypeOfPollingCode=TypeOfPollingStationCode from Voter WHERE RegID = @jmb;
set @TypeOfPollingCode = (select TypeDescription from p3_TypesOfVotersCC where TypeOfPollingStation=@TypeOfPollingCode) 

--Opsti izbori
set @VoteForLevel = (SELECT Combination FROM p3_MunicipalityCombinations, Voter WHERE Voter.VoteForMunicipalityCode = MunicipalityCode AND RegID = @jmb);

declare @Reason as nvarchar(50);
set @Reason='';

 INSERT INTO p3_VotesCast(RegID, Name, Surname, TypeOfVote, PSBag, Clerk, TimeVerified, Mode, TypeOfPollingStationCode, Suspicious)
 VALUES (@jmb,@FirstName,@LastName,'P', @psBag, @clerk, GETDATE(), 1, @TypeOfPollingCode, @Suspicious)


 ------Zloupotrebe tuzilastvo
 IF ((SELECT COUNT(*) FROM ZloupotrebeGCB WHERE jmbg = @jmb and razlogint=1) > 0)
 BEGIN
  UPDATE p3_VotesCast
  SET Accepted = 'False', Reason = ISNULL(Reason,'') + ' Zloupotrebe tuzilastvo', Name = @FirstName, Surname = @LastName, VoteForLevel = @VoteForLevel		
  WHERE id = @@IDENTITY
  set @Reason='Zloupotrebe tuzilastvo';
 END  
------

------Zloupotrebe nove izjave
 IF ((SELECT COUNT(*) FROM ZloupotrebeGCB WHERE jmbg = @jmb and razlogint=2) > 0)
 BEGIN
  UPDATE p3_VotesCast
  SET Accepted = 'False', Reason = ISNULL(Reason,'') + ' Zloupotrebe nove izjave', Name = @FirstName, Surname = @LastName, VoteForLevel = @VoteForLevel		
  WHERE id = @@IDENTITY
  set @Reason='Zloupotrebe nove izjave';
 END  
------

------Zloupotrebe nove izjave
 IF ((SELECT COUNT(*) FROM ZloupotrebeGCB WHERE jmbg = @jmb and razlogint=3) > 0)
 BEGIN
  UPDATE p3_VotesCast
  SET Accepted = 'False', Reason = ISNULL(Reason,'') + ' Indirektne prijave', Name = @FirstName, Surname = @LastName, VoteForLevel = @VoteForLevel		
  WHERE id = @@IDENTITY
  set @Reason='Zloupotrebe indirektne Požega';
 END  
------

------Skenirani redovno
 IF ((SELECT COUNT(*) FROM p3_VotesCast WHERE RegID = @jmb AND Mode = 0 AND Accepted = 'True') > 0)
 BEGIN
  UPDATE p3_VotesCast
  SET Accepted = 'False', Reason = 'Skeniran/a redovno', Name = @FirstName, Surname = @LastName, VoteForLevel = @VoteForLevel
  WHERE id = @@IDENTITY  
  set @Reason='Scanned regular';
 END
 ------

 ------Nisu registrovani za poštu
  IF ((SELECT COUNT(*) FROM Voter WHERE RegID = @jmb AND TypeOfPollingStationCode = 'O') = 0)
  BEGIN
   UPDATE p3_VotesCast
   SET Accepted = 'False', Reason = ISNULL(Reason,'') +' Nije registrovan/a za poštu', Name = @FirstName, Surname = @LastName,  VoteForLevel = @VoteForLevel
   WHERE id = @@IDENTITY
   set @Reason='Not in Voter';
  END
------

------ Vec skeniran
   IF ((SELECT COUNT(*) FROM p3_VotesCast WHERE RegID = @jmb) > 1)
   BEGIN
   declare @skenirano nvarchar(100)=(SELECT TOP 1 TypeOfVote+' - '+cast(TimeVerified as nvarchar(30)) FROM p3_VotesCast WHERE RegID = @jmb order by TimeVerified desc)
    UPDATE p3_VotesCast
    SET Accepted = 'False', Reason = ISNULL(Reason,'')+' Već skeniran/a '+@skenirano, Name = @FirstName, Surname = @LastName, VoteForLevel = @VoteForLevel		
    WHERE id = @@IDENTITY
	set @Reason='Already entered';
   END  
------

------Sve ok
   IF(@Reason='')
   BEGIN
    UPDATE p3_VotesCast
    SET Accepted = 'True',  Name = @FirstName, Surname = @LastName, VoteForLevel = @VoteForLevel
    WHERE id = @@IDENTITY
    UPDATE p3_VotesCastStatus  SET TotalVoters = TotalVoters + 1  WHERE PSNumber = @psBag
   END
------

 SELECT ID, RegID, TypeOfPollingStationCode, Name, Surname, TypeOfVote, VoteForLevel, 
  PSBag, Accepted, @Reason as Reason, Clerk, TimeVerified, Mode,
  (SELECT COUNT(*) FROM p3_VotesCast WHERE psBag = @psBag 
   AND Clerk = @clerk AND Accepted = 'True') AS Acc,
  (SELECT COUNT(*) FROM p3_VotesCast WHERE psBag = @psBag 
   AND Clerk = @clerk AND Accepted = 'False') AS Denied
 FROM p3_VotesCast
 WHERE id = @@IDENTITY

END
GO
/****** Object:  StoredProcedure [dbo].[p3_InsertIntoVotesCastDKP]    Script Date: 24/09/2026 10:47:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[p3_InsertIntoVotesCastDKP]
	@jmb as nvarchar(13),
	@clerk as int,
	@psBag as nvarchar(50),
	@suspicious as bit

AS
BEGIN
	SET NOCOUNT ON;
	declare @TypeOfPollingCode nvarchar(10)
	declare @firstnameVoter as nvarchar(100);
	declare @lastnameVoter as nvarchar(100);
	declare @combination as varchar(10)=(SELECT Combination FROM p3_MunicipalityCombinations, Voter WHERE Voter.VoteForMunicipalityCode = MunicipalityCode AND RegID = @jmb);
	select @firstnameVoter=firstname, @lastnameVoter=lastname, @TypeOfPollingCode=TypeOfPollingStationCode from Voter where RegID = @jmb;
	set @TypeOfPollingCode = (select TypeDescription from p3_TypesOfVotersCC where TypeOfPollingStation=@TypeOfPollingCode) 

	INSERT INTO p3_VotesCast(RegID, Name, Surname, TypeOfVote, VoteForLevel, PSBag, Clerk, TimeVerified, Mode, TypeOfPollingStationCode)
	VALUES (@jmb, @firstnameVoter, @lastnameVoter, 'D', @combination, @psBag, @clerk, GETDATE(), 4,  @TypeOfPollingCode)


	IF ((SELECT COUNT(*) FROM p3_VotesCast WHERE RegID = @jmb AND Mode = 0 AND Accepted = 'True') > 0)
	BEGIN

		UPDATE p3_VotesCast SET Accepted = 'False', Reason = 'Scanned regular', Name = @firstnameVoter, Surname = @lastnameVoter, VoteForLevel = @combination
		WHERE id = @@IDENTITY		
	
	END
	
	ELSE
	BEGIN	

		IF ((SELECT COUNT(*) FROM Voter WHERE RegID = @jmb AND TypeOfPollingStationCode = 'D') = 0)
		BEGIN

				UPDATE p3_VotesCast SET Accepted = 'False', Reason = 'Not in Voter', Name = @firstnameVoter, Surname = @lastnameVoter, VoteForLevel = @combination
				WHERE id = @@IDENTITY

		END

		ELSE
		BEGIN

			IF ((SELECT COUNT(*) FROM p3_VotesCast WHERE RegID = @jmb) > 1)
			BEGIN

				UPDATE p3_VotesCast SET Accepted = 'False', Reason = 'Already entered', Name = @firstnameVoter, Surname = @lastnameVoter, VoteForLevel = @combination
				WHERE id = @@IDENTITY
		
			END		

			ELSE
			BEGIN

				UPDATE p3_VotesCast SET Accepted = 'True', Name = @firstnameVoter, Surname = @lastnameVoter, VoteForLevel = @combination
				WHERE id = @@IDENTITY

				UPDATE p3_VotesCastStatus SET TotalVoters = TotalVoters + 1 WHERE PSNumber = @psBag

			END

		END

	END

	SELECT ID, RegID, TypeOfPollingStationCode, Name, Surname, TypeOfVote, VoteForLevel, PSBag, Accepted, Reason, Clerk, TimeVerified, Mode FROM p3_VotesCast
	WHERE id = @@IDENTITY

END
GO
/****** Object:  StoredProcedure [dbo].[p3_InsertIntoVotesCastMobilni]    Script Date: 24/09/2026 10:47:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[p3_InsertIntoVotesCastMobilni]
	@jmb as nvarchar(13),
	@clerk as int,
	@psBag as nvarchar(50),
	@firstName nvarchar(50),
	@lastName nvarchar(50),
	@birthDate nvarchar(50),
	@potpis varchar(1),
	 @suspicious as bit

AS
BEGIN
	SET NOCOUNT ON;
	declare @TypeOfPollingCode nvarchar(10)
	declare @firstnameVoter as nvarchar(100);
	declare @lastnameVoter as nvarchar(100);
	declare @combination as varchar(10)=(SELECT Combination FROM p3_MunicipalityCombinations, Voter WHERE Voter.VoteForMunicipalityCode = MunicipalityCode AND RegID = @jmb);
	select @firstnameVoter=firstname, @lastnameVoter=lastname, @TypeOfPollingCode=TypeOfPollingStationCode from Voter where RegID = @jmb;
	set @TypeOfPollingCode = (select TypeDescription from p3_TypesOfVotersCC where TypeOfPollingStation=@TypeOfPollingCode) 
       

		INSERT INTO p3_VotesCast(RegID, Name, Surname, TypeOfVote, VoteForLevel, PSBag, Clerk, TimeVerified, Mode, TypeOfPollingStationCode)
		VALUES (@jmb, @firstnameVoter, @lastnameVoter, 'M', @combination, @psBag, @clerk, GETDATE(), 5,  @TypeOfPollingCode)


		IF ((SELECT COUNT(*) FROM p3_VotesCast WHERE RegID = @jmb AND Accepted = 'True' AND Mode = 5) > 0)
		
		BEGIN
			UPDATE p3_VotesCast
			SET Accepted = 'False', Reason = 'Already voted', Name = @firstnameVoter, Surname = @lastnameVoter, VoteForLevel = @combination
			WHERE id = @@IDENTITY		
		END
		
		ELSE
		BEGIN

			IF ((SELECT COUNT(*) FROM Voter WHERE RegID = @jmb and TypeOfPollingStationCode='M') = 0)
			BEGIN
					UPDATE p3_VotesCast SET Accepted = 'False', Reason = 'Not in Voter'
					WHERE id = @@IDENTITY
			END

			ELSE
			BEGIN

				IF ((SELECT COUNT(*) FROM p3_VotesCast WHERE RegID = @jmb AND Mode = 5) > 1)
				BEGIN

					UPDATE p3_VotesCast SET Accepted = 'False', Reason = 'Already entered', Name = @firstnameVoter, Surname = @lastnameVoter, VoteForLevel = @combination			
					WHERE id = @@IDENTITY
			
				END		

				ELSE
				BEGIN

					UPDATE p3_VotesCast SET Accepted = 'True',	Name = @firstnameVoter, Surname = @lastnameVoter, VoteForLevel = @combination
					WHERE id = @@IDENTITY

					UPDATE p3_VotesCastStatus SET TotalVoters = TotalVoters + 1 WHERE PSNumber = @psBag

				END

			END		
		END

	SELECT ID, RegID, TypeOfPollingStationCode, Name, Surname, TypeOfVote, VoteForLevel, PSBag, Accepted, Reason, Clerk, TimeVerified, Mode FROM p3_VotesCast
	WHERE id = @@IDENTITY

































------------ Necko EI ---------------

--declare @TypeOfPollingCode nvarchar(10)

-- SET NOCOUNT ON;

--set @TypeOfPollingCode = (SELECT TypeOfPollingStationCode FROM Voter WHERE RegID = @jmb)

--set @TypeOfPollingCode = CASE
--     WHEN (@TypeOfPollingCode = 'O') 
--        THEN 'Pošta'
    
--     WHEN(@TypeOfPollingCode = '2') 
--         THEN 'Odsustvo'
         
--     WHEN (@TypeOfPollingCode = 'N') 
--        THEN 'Nepotvrđeni listići'
    
--     WHEN(@TypeOfPollingCode = '9') 
--         THEN 'Lično'
         
--     WHEN (@TypeOfPollingCode = 'M') 
--        THEN 'Mobilni timovi'
    
--     WHEN(@TypeOfPollingCode = 'D') 
--         THEN 'DKP'
         
--     WHEN(@TypeOfPollingCode = '1') 
--         THEN 'Redovni glasači'
       
--END
----------------------------

--	IF (@potpis = '1')
--	BEGIN

----------------Necko EI---------

--		INSERT INTO p3_VotesCast(RegID, Name, Surname, TypeOfVote, VoteForLevel, PSBag, Clerk, TimeVerified, Mode, TypeOfPollingStationCode)
--		VALUES (@jmb, (SELECT FirstName FROM Voter WHERE RegID = @jmb), (SELECT LastName FROM Voter WHERE RegID = @jmb), 'M', (SELECT Combination
--							FROM p3_CombinationsLevels, Voter
--							WHERE Voter.VoteForMunicipalityCode = Level
--									AND RegID = @jmb), @psBag, @clerk, GETDATE(), 5,  @TypeOfPollingCode)

------------------------------------------------

--		IF ((SELECT COUNT(*) FROM p3_VotesCast WHERE RegID = @jmb AND Mode = 0 AND Accepted = 'True') > 0)
--		BEGIN

--			UPDATE p3_VotesCast
--			SET Accepted = 'False',
--				Reason = 'Scanned regular',
--				Name = (SELECT FirstName FROM Voter WHERE RegID = @jmb),
--				Surname = (SELECT LastName FROM Voter WHERE RegID = @jmb),
--				VoteForLevel = (SELECT Combination
--								FROM p3_CombinationsLevels, Voter
--								WHERE Voter.VoteForMunicipalityCode = Level
--										AND RegID = @jmb)
--			WHERE id = @@IDENTITY		
		
--		END
		
--		ELSE
--		BEGIN

--			IF ((SELECT COUNT(*) FROM Voter WHERE RegID = @jmb AND TypeOfPollingStationCode = '1') = 0)
--			BEGIN

--				IF ((SELECT COUNT(*) 
--					FROM Voter 
--					WHERE FirstName = @firstName
--							AND LastName = @lastName
--							AND DateOfBirth = @birthDate
--							AND TypeOfPollingStationCode = '1') = 0)
--				BEGIN

--					UPDATE p3_VotesCast
--					SET Accepted = 'False',
--						Reason = 'Not in Voter',
						
--						--------------Necko EI---------
						
--						Name = (SELECT FirstName FROM Voter WHERE RegID = @jmb),
--				Surname = (SELECT LastName FROM Voter WHERE RegID = @jmb),
--				VoteForLevel = (SELECT Combination
--								FROM p3_CombinationsLevels, Voter
--								WHERE Voter.VoteForMunicipalityCode = Level
--										AND RegID = @jmb)
--					WHERE id = @@IDENTITY

--				END

--				ELSE
--				BEGIN

--					UPDATE p3_VotesCast
--					SET Accepted = 'True',
--						Reason = 'JMB is not correct',
--						Name = @firstName,
--						Surname = @lastName,
--						VoteForLevel = (SELECT Combination
--										FROM p3_CombinationsLevels, Voter
--										WHERE Voter.VoteForMunicipalityCode = Level
--												AND FirstName = @firstName
--												AND LastName = @lastName
--												AND DateOfBirth = @birthDate)
--					WHERE id = @@IDENTITY

--				END

--			END

--			ELSE
--			BEGIN

--				IF ((SELECT COUNT(*) FROM p3_VotesCast WHERE RegID = @jmb) > 1)
--				BEGIN

--					UPDATE p3_VotesCast
--					SET Accepted = 'False',
--						Reason = 'Already entered',
--						Name = (SELECT FirstName FROM Voter WHERE RegID = @jmb),
--						Surname = (SELECT LastName FROM Voter WHERE RegID = @jmb),
--						VoteForLevel = (SELECT Combination
--										FROM p3_CombinationsLevels, Voter
--										WHERE Voter.VoteForMunicipalityCode = Level
--												AND RegID = @jmb)
--					WHERE id = @@IDENTITY
			
--				END		

--				ELSE
--				BEGIN

--					UPDATE p3_VotesCast
--					SET Accepted = 'True',	
--						Name = (SELECT FirstName FROM Voter WHERE RegID = @jmb),
--						Surname = (SELECT LastName FROM Voter WHERE RegID = @jmb),
--						VoteForLevel = (SELECT Combination
--										FROM p3_CombinationsLevels, Voter
--										WHERE Voter.VoteForMunicipalityCode = Level
--												AND RegID = @jmb)
--					WHERE id = @@IDENTITY

--					UPDATE p3_VotesCastStatus
--					SET TotalVoters = TotalVoters + 1
--					WHERE PSNumber = @psBag

--				END

--			END		
--		END

--	END

--	IF (@potpis = '0')
--	BEGIN

--		INSERT INTO p3_VotesCast(RegID, PSBag, Clerk, TimeVerified, Mode, Name, Surname, Reason, Accepted)
--		VALUES (@jmb, @psBag, @clerk, GETDATE(), 5, @firstName, @lastName, 'Nije glasao', 'False')

--	END


--	--------------Necko EI---------

--	SELECT ID, RegID, TypeOfPollingStationCode, Name, Surname, TypeOfVote, VoteForLevel, 
--			PSBag, Accepted, Reason, Clerk, TimeVerified, Mode
--	FROM p3_VotesCast
--	WHERE id = @@IDENTITY

END
GO
/****** Object:  StoredProcedure [dbo].[p3_InsertIntoVotesCastOdsustvo]    Script Date: 24/09/2026 10:47:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[p3_InsertIntoVotesCastOdsustvo]
	@jmb as nvarchar(13),
	@clerk as int,
	@psBag as nvarchar(50),
	@suspicious as bit

AS
BEGIN
 SET NOCOUNT ON;
	declare @TypeOfPollingCode nvarchar(10)
	declare @firstnameVoter as nvarchar(100);
	declare @lastnameVoter as nvarchar(100);
	declare @combination as varchar(10)=(SELECT Combination FROM p3_MunicipalityCombinations, Voter WHERE Voter.VoteForMunicipalityCode = MunicipalityCode AND RegID = @jmb);
	select @firstnameVoter=firstname, @lastnameVoter=lastname, @TypeOfPollingCode=TypeOfPollingStationCode from Voter where RegID = @jmb;
	set @TypeOfPollingCode = (select TypeDescription from p3_TypesOfVotersCC where TypeOfPollingStation=@TypeOfPollingCode); 


	INSERT INTO p3_VotesCast(RegID, Name, Surname, TypeOfVote, VoteForLevel, PSBag, Clerk, TimeVerified, Mode, TypeOfPollingStationCode)
	VALUES (@jmb, @firstnameVoter, @lastnameVoter, 'O', @combination, @psBag, @clerk, GETDATE(), 3,  @TypeOfPollingCode)

	IF ((SELECT COUNT(*) FROM p3_VotesCast WHERE RegID = @jmb AND Mode = 0 AND Accepted = 'True') > 0)
	BEGIN
		UPDATE p3_VotesCast SET Accepted = 'False', Reason = 'Scanned regular', Name = @firstnameVoter, Surname = @lastnameVoter, VoteForLevel = @combination
		WHERE id = @@IDENTITY		
	END
	
	ELSE
	BEGIN

		IF ((SELECT COUNT(*) FROM Voter WHERE RegID = @jmb AND TypeOfPollingStationCode = '2') = 0)
		BEGIN

		UPDATE p3_VotesCast SET Accepted = 'False', Reason = 'Not in Voter', Name = @firstnameVoter, Surname = @lastnameVoter, VoteForLevel = @combination
		WHERE id = @@IDENTITY

		END

		ELSE
		BEGIN

			IF ((SELECT COUNT(*) FROM p3_VotesCast WHERE RegID = @jmb) > 1)
			BEGIN

				UPDATE p3_VotesCast SET Accepted = 'False', Reason = 'Already entered', Name = @firstnameVoter, Surname = @lastnameVoter, VoteForLevel = @combination	
				WHERE id = @@IDENTITY
		
			END		

			ELSE
			BEGIN

				UPDATE p3_VotesCast SET Accepted = 'True', Name = @firstnameVoter, Surname = @lastnameVoter, VoteForLevel = @combination
				WHERE id = @@IDENTITY

				UPDATE p3_VotesCastStatus SET TotalVoters = TotalVoters + 1 WHERE PSNumber = @psBag

			END

		END

	END

	SELECT ID, RegID, TypeOfPollingStationCode, Name, Surname, TypeOfVote, VoteForLevel, PSBag, Accepted, Reason, Clerk, TimeVerified, Mode FROM p3_VotesCast
	WHERE id = @@IDENTITY

END
GO
/****** Object:  StoredProcedure [dbo].[p3_InsertIntoVotesCastUnconfirmed]    Script Date: 24/09/2026 10:47:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[p3_InsertIntoVotesCastUnconfirmed]
	@jmb as nvarchar(13),
	@clerk as int,
	@psBag as nvarchar(50),
	@firstName nvarchar(50),
	@lastName nvarchar(50),
	@birthDate nvarchar(50),
	@suspicious as bit

AS
BEGIN
SET NOCOUNT ON;
	declare @TypeOfPollingCode nvarchar(10)
	declare @firstnameVoter as nvarchar(100);
	declare @lastnameVoter as nvarchar(100);
	declare @combination as varchar(10)=(SELECT Combination FROM p3_MunicipalityCombinations, Voter WHERE Voter.VoteForMunicipalityCode = MunicipalityCode AND RegID = @jmb);
	select @firstnameVoter=firstname, @lastnameVoter=lastname, @TypeOfPollingCode=TypeOfPollingStationCode from Voter where RegID = @jmb;

	set @TypeOfPollingCode = (select TypeDescription from p3_TypesOfVotersCC where TypeOfPollingStation=@TypeOfPollingCode); 
		
	INSERT INTO p3_VotesCast(RegID, Name, Surname, TypeOfVote, VoteForLevel, PSBag, Clerk, TimeVerified, Mode, TypeOfPollingStationCode)
	VALUES (@jmb, @firstnameVoter, @lastnameVoter, 'N',@combination, @psBag, @clerk, GETDATE(), 2,  @TypeOfPollingCode)


	IF ((SELECT COUNT(*) FROM p3_VotesCast WHERE RegID = @jmb AND Mode <> 2 AND Accepted = 'True') > 0)
	BEGIN

		UPDATE p3_VotesCast SET Accepted = 'False', Reason = 'Scanned regular', Name = @firstnameVoter, Surname = @lastnameVoter, VoteForLevel = @combination					
		WHERE id = @@IDENTITY		
	
	END
	
	ELSE
	BEGIN
		IF ((SELECT COUNT(*) FROM Voter WHERE RegID = @jmb AND (TypeOfPollingStationCode = 'N' OR TypeOfPollingStationCode = 'O')) = 0)
		BEGIN

			IF ((SELECT COUNT(*) 
				FROM Voter 
				WHERE FirstName = @firstName
						AND LastName = @lastName
						AND CONVERT(NVARCHAR(10), DateOfBirth, 104) = @birthDate
						AND (TypeOfPollingStationCode = 'N' OR TypeOfPollingStationCode = 'O')) = 0)
			BEGIN

				UPDATE p3_VotesCast SET Accepted = 'False', Reason = 'Not in Voter', Name = @firstnameVoter, Surname = @lastnameVoter,	VoteForLevel = @combination
				WHERE id = @@IDENTITY

			END

			ELSE
			BEGIN

				UPDATE p3_VotesCast
				SET Accepted = 'True', Reason = 'JMB is not correct', Name = @firstName, Surname = @lastName,
					VoteForLevel = (SELECT Combination FROM p3_MunicipalityCombinations, Voter WHERE Voter.VoteForMunicipalityCode = MunicipalityCode
										 AND FirstName = @firstName AND LastName = @lastName AND CONVERT(NVARCHAR(10), DateOfBirth, 104) = @birthDate)
				WHERE id = @@IDENTITY

			END

		END

		ELSE
		BEGIN

			IF ((SELECT COUNT(*) FROM p3_VotesCast WHERE RegID = @jmb AND Mode = 2) > 1)
			BEGIN

				UPDATE p3_VotesCast SET Accepted = 'False',	Reason = 'Already entered',	Name = @firstnameVoter,	Surname = @lastnameVoter, VoteForLevel = @combination
				WHERE id = @@IDENTITY
		
			END		

			ELSE
			BEGIN

				UPDATE p3_VotesCast SET Accepted = 'True', Name = @firstnameVoter, Surname = @lastnameVoter, VoteForLevel =@combination
				WHERE id = @@IDENTITY

				UPDATE p3_VotesCastStatus SET TotalVoters = TotalVoters + 1  WHERE PSNumber = @psBag

			END

		END

	END

	
	SELECT ID, RegID, TypeOfPollingStationCode, Name, Surname, TypeOfVote, VoteForLevel, PSBag, Accepted, Reason, Clerk, TimeVerified, Mode FROM p3_VotesCast
	WHERE id = @@IDENTITY































------------ Necko EI ---------------

--declare @TypeOfPollingCode nvarchar(10)

-- SET NOCOUNT ON;

--set @TypeOfPollingCode = (SELECT TypeOfPollingStationCode FROM Voter WHERE RegID = @jmb)

--set @TypeOfPollingCode = CASE
--     WHEN (@TypeOfPollingCode = 'O') 
--        THEN 'Pošta'
    
--     WHEN(@TypeOfPollingCode = '2') 
--         THEN 'Odsustvo'
         
--     WHEN (@TypeOfPollingCode = 'N') 
--        THEN 'Nepotvrđeni listići'
    
--     WHEN(@TypeOfPollingCode = '9') 
--         THEN 'Lično'
         
--     WHEN (@TypeOfPollingCode = 'M') 
--        THEN 'Mobilni timovi'
    
--     WHEN(@TypeOfPollingCode = 'D') 
--         THEN 'DKP'
         
--     WHEN(@TypeOfPollingCode = '1') 
--         THEN 'Redovni glasači'
       
--END


----------------Necko EI---------

--	INSERT INTO p3_VotesCast(RegID, Name, Surname, TypeOfVote, VoteForLevel, PSBag, Clerk, TimeVerified, Mode, TypeOfPollingStationCode)
--	VALUES (@jmb, (SELECT FirstName FROM Voter WHERE RegID = @jmb), (SELECT LastName FROM Voter WHERE RegID = @jmb), 'N',(SELECT Combination
--							FROM p3_CombinationsLevels, Voter
--							WHERE Voter.VoteForMunicipalityCode = Level
--									AND RegID = @jmb), @psBag, @clerk, GETDATE(), 2,  @TypeOfPollingCode)
			
--			-----------------------

--	IF ((SELECT COUNT(*) FROM p3_VotesCast WHERE RegID = @jmb AND Mode = 0 AND Accepted = 'True') > 0)
--	BEGIN

--		UPDATE p3_VotesCast
--		SET Accepted = 'False',
--			Reason = 'Scanned regular',
--			Name = (SELECT FirstName FROM Voter WHERE RegID = @jmb),
--			Surname = (SELECT LastName FROM Voter WHERE RegID = @jmb),
--			VoteForLevel = (SELECT Combination
--							FROM p3_CombinationsLevels, Voter
--							WHERE Voter.VoteForMunicipalityCode = Level
--									AND RegID = @jmb)
--		WHERE id = @@IDENTITY		
	
--	END
	
--	ELSE
--	BEGIN

--		IF ((SELECT COUNT(*) FROM Voter WHERE RegID = @jmb AND TypeOfPollingStationCode = 'N') = 0)
--		BEGIN

--			IF ((SELECT COUNT(*) 
--				FROM Voter 
--				WHERE FirstName = @firstName
--						AND LastName = @lastName
--						AND DateOfBirth = @birthDate
--						AND TypeOfPollingStationCode = 'N') = 0)
--			BEGIN

--				UPDATE p3_VotesCast
--				SET Accepted = 'False',
--					Reason = 'Not in Voter',
					
--					--------------Necko EI---------
--					Name = (SELECT FirstName FROM Voter WHERE RegID = @jmb),
--			Surname = (SELECT LastName FROM Voter WHERE RegID = @jmb),
--			VoteForLevel = (SELECT Combination
--							FROM p3_CombinationsLevels, Voter
--							WHERE Voter.VoteForMunicipalityCode = Level
--									AND RegID = @jmb)
									
--				WHERE id = @@IDENTITY

--			END

--			ELSE
--			BEGIN

--				UPDATE p3_VotesCast
--				SET Accepted = 'True',
--					Reason = 'JMB is not correct',
--					Name = @firstName,
--					Surname = @lastName,
--					VoteForLevel = (SELECT Combination
--									FROM p3_CombinationsLevels, Voter
--									WHERE Voter.VoteForMunicipalityCode = Level
--											AND FirstName = @firstName
--											AND LastName = @lastName
--											AND DateOfBirth = @birthDate)
--				WHERE id = @@IDENTITY

--			END

--		END

--		ELSE
--		BEGIN

--			IF ((SELECT COUNT(*) FROM p3_VotesCast WHERE RegID = @jmb) > 1)
--			BEGIN

--				UPDATE p3_VotesCast
--				SET Accepted = 'False',
--					Reason = 'Already entered',
--					Name = (SELECT FirstName FROM Voter WHERE RegID = @jmb),
--					Surname = (SELECT LastName FROM Voter WHERE RegID = @jmb),
--					VoteForLevel = (SELECT Combination
--									FROM p3_CombinationsLevels, Voter
--									WHERE Voter.VoteForMunicipalityCode = Level
--											AND RegID = @jmb)
--				WHERE id = @@IDENTITY
		
--			END		

--			ELSE
--			BEGIN

--				UPDATE p3_VotesCast
--				SET Accepted = 'True',	
--					Name = (SELECT FirstName FROM Voter WHERE RegID = @jmb),
--					Surname = (SELECT LastName FROM Voter WHERE RegID = @jmb),
--					VoteForLevel = (SELECT Combination
--									FROM p3_CombinationsLevels, Voter
--									WHERE Voter.VoteForMunicipalityCode = Level
--											AND RegID = @jmb)
--				WHERE id = @@IDENTITY

--				UPDATE p3_VotesCastStatus
--				SET TotalVoters = TotalVoters + 1
--				WHERE PSNumber = @psBag

--			END

--		END

--	END

----------------Necko EI---------


--	SELECT ID, RegID, TypeOfPollingStationCode, Name, Surname, TypeOfVote, VoteForLevel, 
--		PSBag, Accepted, Reason, Clerk, TimeVerified, Mode
--	FROM p3_VotesCast
--	WHERE id = @@IDENTITY

END
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Voter_07maj2020' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Voter'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description_16', @value=N'Voter_07maj2020' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Voter'
GO
